@charset "UTF-8";
@font-face {
  font-family: "DrukCyr-MediumItalic";
  src: url("style/fonts/Druk/DrukCyr-MediumItalic.eot");
  src:
    url("style/fonts/Druk/DrukCyr-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("style/fonts/Druk/DrukCyr-MediumItalic.woff") format("woff"),
    url("style/fonts/Druk/DrukCyr-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: DrukCyr-MediumItalic;
}
.header {
  color: #ffffff;
  width: 100%;
}
.header__wrapper {
 text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  gap: 90px;
  align-items: center;
  flex-direction: column;
  height: 964px;
  color: #ffffff;
  background:
    linear-gradient(180deg, #0044c8 0%, rgba(0, 105, 228, 0) 65%),
    url("style/img/main.png") no-repeat;
  background-size: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 68%,
    80% 80%,
    80% 85%,
    50% 98%,
    15% 85%,
    15% 80%,
    0% 68%
  );
}

.grafic{
  z-index: -10;
  position: absolute;
  width: 500px;
  height: 618px;
  top: 25%;
  left: 0;
  content: " ";
  background: url("style/img/1.svg") no-repeat;
}
.header__nav__burger img {
  width: 60px;
  height: 60px;
}
.logo {
  width: 266px;
  height: 108px;
}
.header__wrapper a {
  text-decoration: none; /* Убираем подчёркивание */
  font-family: "DrukCyr-MediumItalic";
  white-space: nowrap;
  color: #ffffff;
  letter-spacing: 5px;
    text-transform: uppercase;
}
.number {
  letter-spacing: 5px;
}
.header__nav__wrapper {
  padding: 28px 40px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  font-size: 32px;
}
.main-title {
  display: flex;
  gap: 30px;
}
.main-title h1 {
  margin-top: -0.225em;
  margin-bottom: 0;
  font-size: 96px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 17px;
}
.main-title span {
  display: inline-block;
  font-size: 36px;
  text-transform: uppercase;
    letter-spacing: 5px;
}
